{{!< default}}

<div class="error-container">
    <div class="error-inner">
        <div class="error-content">
            <p class="error-code">{{statusCode}}</p>
            <div class="error-divider"></div>
            <div class="error-text">
                <h1 class="error-title">
                    {{#if errorMessage}}
                        {{errorMessage}}
                    {{else}}
                        Page Not Found
                    {{/if}}
                </h1>
                <p class="error-description">
                    The page you requested could not be found. It may have been moved or deleted.
                </p>
                <a href="{{@site.url}}" class="btn btn-error-home">Go to Homepage</a>
            </div>
        </div>
    </div>
</div>
